# Adquisition

In [1]:
import pandas as pd
import sqlite3
from functools import reduce

In [2]:
#Import Data Base
# Create the connection with my downloaded data base
cnx = sqlite3.connect('/home/luana/IRONHACK/Ironhack-Module-1-Project/data/luanasolis.db')
# create the dataframe from a query
df_business = pd.read_sql_query("SELECT * FROM business_info", cnx)
df_rank = pd.read_sql_query("SELECT * FROM rank_info", cnx)
df_personal = pd.read_sql_query("SELECT * FROM personal_info", cnx)

In [3]:
#function for merging queris:
dfs = [df_business,df_rank,df_personal]
def merge_df (list_df , column):
    return reduce(lambda left,right: pd.merge(left,right,on=column), list_df)

In [4]:
#given data base
df_ppl1 = merge_df (dfs , 'id')
df_ppl1.head()

,id,Unnamed: 0_x,Source,worth,worthChange,realTimeWorth,realTimePosition,name,position,Unnamed: 0_y,lastName,age,Unnamed: 0,gender,country,image
0,7706,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1,jeff BEZos,1.0,52,BEZOS,54 years old,52,M,United States,https://specials-images.forbesimg.com/imageser...
1,7338,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2,bill GATES,2.0,53,gATEs,62 years old,53,M,United States,https://specials-images.forbesimg.com/imageser...
2,9531,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3,wARREN BUFFETt,3.0,54,buFFETt,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...
3,5476,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4,bERNARD ARNAULT,4.0,55,ARNAULT,69 years old,55,None,None,https://specials-images.forbesimg.com/imageser...
4,9878,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5,mark ZUCKerberg,5.0,56,zuckeRBERG,1985,56,M,None,https://specials-images.forbesimg.com/imageser...